.round-image{
	border-radius: 50%;
}

.loading-screen{
	border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./../src/assets/drew1.jpeg');
    height: 300px;
    width: 370px;
    margin-top: 100px;
    margin-left:auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    color: black;
    z-index: 99999999 important!;
    /* margin-bottom: auto; */
}